@font-face {
  font-family: 'Oxygen', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
}
.App {
  text-align: center;
  background-image: url('./hypernet.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
.navBar {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: hsl(0, 0%, 14%);
}
.navLink {
  font-family: 'Oxygen', sans-serif;
  color: hsl(0, 0%, 94%);
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
  margin: 0px 1vw 0px 2vw;
  border-radius: 8px;
}
.shipCardCon{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-top: 60px;
}
.homeCon{
  display: grid;
  grid-column: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 4fr;
  padding-top: 60px;
  height: 100vh;
  color: white;
}
.shipCard{
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0, 0%, 47%, 0.824);
  margin: 15px;
  padding: 15px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
}
.shipDivs {
  margin: 8px;
  align-self: center;
}
.shipIcon {
  width: 100px;
  height: 100px;
  align-self: center;
  border-radius: 10px;
}
.nums{
  color: rgb(227, 227, 227);
  background-color: rgba(23, 23, 23, 0.934);
  padding: 7px 20px 7px 20px;
  margin: 5px;
  border-radius: 10px;
}
.button {
  text-decoration: none;
  border: none;
  background-color: hsl(0, 0%, 14%);
}
.banner {
  font-size: 10vh;
  background-color: hsla(0, 0%, 47%, 0.824);
  padding: 2vh;
  width: 90vw;
  border-radius: 5vh;
  margin: 2vh;
  justify-self: center;
  align-self: center;
}